.list-items {
  list-style-type: none;
  position: relative;
  font-size: medium;
  padding: 20px;
  margin-bottom: 15px;
  background: #d3d3d3;
  color: #505050;
  width: fit-content;
  margin-right: 10px;
}

.pokemon-name {
  text-transform: capitalize;
}
